@import url("https://fonts.googleapis.com/css2?family=Seymour+One&display= swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #9dcaff;
  height: 1080px;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
  height: 30vh;
}

.score {
  width: 163;
  height: 201;
  -webkit-text-stroke: 2px black;
  font-family: "Seymour One", sans-serif;
  font-weight: 400;
  font-style: Book;
  font-size: 160px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  text-shadow: 4px 4px #000000;
}

.text {
  width: 155;
  height: 60;
  -webkit-text-stroke: 2px black;
  font-family: Seymour One;
  font-weight: 400;
  font-style: Book;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -10%;
  text-align: center;
  color: white;
  text-shadow: 4px 4px black;
}

.buttonSection {
  display: flex;
  justify-content: center;
  padding-top: 400px;
  gap: 80px;
}

.btn {
  position: relative;
  width: 222px;
  height: 222px;
  border-radius: 500px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btnPos {
  position: absolute;
  width: 196px;
  height: 209.867919921875px;
  top: -25px;
  left: 14px;
  transform-style: preserve-3d;
}

.ellipse {
  position: absolute;
  width: 178px;
  height: 178px;
  top: 22px;
  left: 22px;
  background-color: white;
  z-index: -1;
  border-radius: 500px;
  box-shadow: 4px 4px 0px 0px #000000, 4px -7px 0px 0px #c2c2c2 inset;
}

.btnPos:hover {
  transform: rotate(-10deg) rotateY(-10deg) scale(1.1);
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.btnPos:hover + .ellipse {
  background-color: grey;
}

.footer {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 400px;
  gap: 60px;
}

.resultText {
  width: 824;
  height: 121;
  -webkit-text-stroke: 2px black;
  color: white;
  font-family: Seymour One;
  font-weight: 400;
  font-style: Book;
  font-size: 96px;
  line-height: 100%;
  letter-spacing: -10%;
  text-align: center;
  text-shadow: 4px 4px #000000;
}

.reset {
  background-color: white;
  box-shadow: 4px 4px 0px 0px #000000, 4px -7px 0px 0px #c2c2c2 inset;
}

.reset:hover {
  transition: all 1s ease;
  cursor: pointer;
  box-shadow: 4px 10px 0px 0px #000000;
}

.restartBtn {
  font-family: Seymour One;
  font-weight: bolder;
  font-style: Italic;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 10px 10px;
}

.reset:hover .restartBtn {
  transform: rotate(-3deg);
  transition: all 1s ease;
}

.Joint1 {
  position: absolute;
  width: 500px;
  height: 1000px;
  transform: rotate(50deg);
  left: -100px;
  top: 320px;
  animation: moving-arm-ai 3s infinite;
}

.Joint2 {
  position: absolute;
  width: 500px;
  height: 1000px;
  transform: rotate(-50deg);
  left: 1800px;
  top: 250px;
  animation: moving-arm 8s infinite;
}

@keyframes moving-arm {
  0% {
    transform: rotate(-50deg);
  }

  25% {
    transform: rotate(-58deg);
  }

  50% {
    transform: rotate(-50deg);
  }

  75% {
    transform: rotate(-58deg);
  }

  100% {
    transform: rotate(-50deg);
  }
}

@keyframes moving-arm-ai {
  0% {
    transform: rotate(50deg);
  }

  25% {
    transform: rotate(53deg);
  }

  50% {
    transform: rotate(50deg);
  }

  75% {
    transform: rotate(53deg);
  }

  100% {
    transform: rotate(50deg);
  }
}

.arm-human {
  -webkit-transform: scaleX(-1);
}

.ai-hands {
  position: absolute;
  top: -490px;
  left: -120px;
  transform: rotate(-50deg);
  animation: moving-hand-ai 3s infinite;
}

.human-hands {
  position: absolute;
  top: -500px;
  left: -200px;
  transform: rotate(30deg);
  animation: moving-hand 8s infinite;
}

@keyframes moving-hand {
  0% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(20deg);
    left: -230px;
  }

  50% {
    transform: rotate(30deg);
    left: -200px;
  }

  75% {
    transform: rotate(20deg);
    left: -230px;
  }

  100% {
    transform: rotate(30deg);
    left: -200px;
  }
}

@keyframes moving-hand-ai {
  0% {
    transform: rotate(-50deg);
    left: -120px;
  }

  25% {
    transform: rotate(-65deg);
    left: -150px;
  }

  50% {
    transform: rotate(-50deg);
    left: -120px;
  }

  75% {
    transform: rotate(-65deg);
    left: -150px;
  }

  100% {
    transform: rotate(-50deg);
    left: -120px;
  }
}
